h1 { font-size: 1.602em; margin: 0 0 20px 0; }
h2 { font-size: 1.424em; margin: 0 0 20px 0; }
h3 { font-size: 1.266em; margin: 0 0 15px 0; }
h4 { font-size: 1.125em; margin: 0 0 15px 0; }
.copy p { line-height: 1.5; }
ol {list-style-type: decimal;}
li > ol li { list-style-type: lower-latin; }
ol.roman { list-style-type: upper-roman; }
ol.roman ol li { list-style-type: lower-roman; }

.row { 
  max-width: 1200px;
  margin: 0 auto 20px auto;
  list-style-type: none;
 }